<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif !important;
}
:root{
    --primary-color:#0ef;
    --bg-color:#081b29;
    --second-bg-color:#11588e;
    --text-color:#fff;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size:62.5%;
}
body{
    background-color:var(--bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.4rem;
    gap: 20px;
    background-color:var(--bg-color);
}
.logo{
    height:40px;
    width:40px;
    margin-left:50px;
}
.navbar_items{
    margin-right:100px;
}
.navbar_items a {
    color:var(--text-color) !important;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left:4rem;
}
.navbar_items a:hover,
.navbar_items a.active
{
    color: var(--primary-color) !important;
    text-shadow: 0 0 10px var(--primary-color);
}
.section{
    justify-content:center;
    align-items:center;
    height:100vh;
    display:flex;
    gap:10px;
}
.home-image{
    width:400px;
    height:400px;
    border-radius:68% 32% 36% 64% / 33% 48% 52% 67%  ;
    background-color:#0ef;
    box-shadow: 0 0 20px var(--primary-color);
    animation: floatimage 4s ease-in-out  infinite ;
}
@keyframes floatimage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
} 

    
.card-title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.card-name{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.social a,.button {
        display: grid;
        place-items: center;
        text-decoration: none;
        color: var(--primary-color);
        border: 1.6px solid var(--primary-color);
        font-size: 3rem;
        border-radius: 50%;
        padding: 0.39rem;
        text-align: center;
        animation: ani-top 1 ease-in  1 ;animation: SocialAni 1s ease forwards;
        animation-delay: calc(.2s * var(--socialAni));

}
@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
    
.social a:hover {
    color: var(--bg-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}
.button{
    color: var(--primary-color);
    background-color:transparent;
    font-size: 1.6rem;
    font-weight: 600;
    border-color: var(--primary-color);
    border-radius: 8px;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-top:2rem;
}
.button:hover{
    color: var(--bg-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}

.section-about{
    justify-content:center;
    align-items:center;
    height:100vh;
    display:flex;
    gap:10px;
    background-color:#0d2b40;
}
.about-image{
    width:250px;
    border-width:5px;
    border-style:solid;
    box-shadow: 0 0 20px #0ef;
    border-color:var(--primary-color);
    border-radius: 10px;
    animation:ani-left 1s ease  forwards; 
    
}
.about-image img{
    width:100%;
    height:100%;
    border-radius:5px;
    background-image:linear-gradient(to top, #ccfcff,#0ef);
}
@keyframes ani-left {
    0%{
        transform: translateX(-100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity:1;
    }
    
}
.about-content{
    animation: ani-right 1s ease-in  1 ;
}
@keyframes ani-right {
    0%{
        transform: translate(100px);
        opacity:0;
    }
    100%{
        transform: translate(0px);
        opacity:1;
    }
    
}

.skills{
    font-size:40px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: start !important;
}

.section-skills{
    justify-content:center;
    align-items:center;
    height:100vh;
    grid-auto-flow: column;
    display:grid;
    gap:10px;
    background-color:var(--bg-color);
    gap:10px;
}
.skills-card{
    width:90%;
    background-color:var(--second-bg-color);
    border-radius: 10px;
    text-align:center;
    box-shadow:0px 0px 1px 1px  #fff;
    border-width: 2px ;
    border-top-color:var(--primary-color);
    margin:10px;
    animation: image-Ani 1s ease 1s 1 1 forwards;
} 
.icon{
    font-size:70px;
    color: var(--primary-color);
}
.box-icon{
    width:60px;
    height:60px;
    border-color:var(--primary-color);
}
.sub-card{
    width:120px;
    height:120px;
    background-color:var(--second-bg-color);
    border-radius: 10px;
    text-align:center;
    box-shadow:0px 0px 1px 1px  #fff;
    border-width: 2px ;
    border-top-color:var(--primary-color);
    margin:10px;
}

.section-education{
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow: hidden;
    display:grid inline-block;
    grid-auto-flow:column;
    gap:10px;
    background-color:var(--second-bg-color);
}
.graduation{
    width:100%;
    background-size:cover;
    background-color:#5468b5;
    border-radius: 10px;
    padding:10px;
    margin-top:20px;
}
.edu-img{
    width:100%;
}
.edu-button{
    width:120px;
    height:40px;
    border-color:var(--bg-color);
    border-radius: 10px;
    text-align:center;
    border-style:solid;
    border-width: 2px ;
    color:var(--bg-color) !important;
    font-weight: 600;
    font-size:16px;
    background-color:transparent;
    animation: ani-top 1 ease-in  1 ;animation: SocialAni 1s ease forwards;
        animation-delay: calc(.2s * var(--socialAni));

}
@media only screen and (max-width: 800px) {
    .home-image {
      width:250px;
      height:250px;
      margin-top:40px;
      border-radius:100%;
    }
    .card-title{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .card-name{
        font-size: 3.6rem;
        font-weight: 600;
    }
    .social a{
        gap: 0.7rem;
        font-size: 2.4rem;
    }
    .button{
        font-size: 1.2rem;
        padding: 0.8rem 1.6rem;
    }
    p{
        font-size: 1.2rem;
    }
    .about-image{
        width:180px;
        align-items:center;
        display:flex;
        justify-items:center;
    }
  }
=======
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif !important;
}
:root{
    --primary-color:#0ef;
    --bg-color:#081b29;
    --second-bg-color:#11588e;
    --text-color:#fff;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size:62.5%;
}
body{
    background-color:var(--bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.4rem;
    gap: 20px;
    background-color:var(--bg-color);
}
.logo{
    height:40px;
    width:40px;
    margin-left:50px;
}
.navbar_items{
    margin-right:100px;
}
.navbar_items a {
    color:var(--text-color) !important;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left:4rem;
}
.navbar_items a:hover,
.navbar_items a.active
{
    color: var(--primary-color) !important;
    text-shadow: 0 0 10px var(--primary-color);
}
.section{
    justify-content:center;
    align-items:center;
    height:100vh;
    display:flex;
    gap:10px;
}
.home-image{
    width:400px;
    height:400px;
    border-radius:68% 32% 36% 64% / 33% 48% 52% 67%  ;
    background-color:#0ef;
    box-shadow: 0 0 20px var(--primary-color);
    animation: floatimage 4s ease-in-out  infinite ;
}
@keyframes floatimage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
} 

    
.card-title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.card-name{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.social a,.button {
        display: grid;
        place-items: center;
        text-decoration: none;
        color: var(--primary-color);
        border: 1.6px solid var(--primary-color);
        font-size: 3rem;
        border-radius: 50%;
        padding: 0.39rem;
        text-align: center;
        animation: ani-top 1 ease-in  1 ;animation: SocialAni 1s ease forwards;
        animation-delay: calc(.2s * var(--socialAni));

}
@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
    
.social a:hover {
    color: var(--bg-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}
.button{
    color: var(--primary-color);
    background-color:transparent;
    font-size: 1.6rem;
    font-weight: 600;
    border-color: var(--primary-color);
    border-radius: 8px;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-top:2rem;
}
.button:hover{
    color: var(--bg-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}

.section-about{
    justify-content:center;
    align-items:center;
    height:100vh;
    display:flex;
    gap:10px;
    background-color:#0d2b40;
}
.about-image{
    width:250px;
    border-width:5px;
    border-style:solid;
    box-shadow: 0 0 20px #0ef;
    border-color:var(--primary-color);
    border-radius: 10px;
    animation:ani-left 1s ease  forwards; 
    
}
.about-image img{
    width:100%;
    height:100%;
    border-radius:5px;
    background-image:linear-gradient(to top, #ccfcff,#0ef);
}
@keyframes ani-left {
    0%{
        transform: translateX(-100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity:1;
    }
    
}
.about-content{
    animation: ani-right 1s ease-in  1 ;
}
@keyframes ani-right {
    0%{
        transform: translate(100px);
        opacity:0;
    }
    100%{
        transform: translate(0px);
        opacity:1;
    }
    
}

.skills{
    font-size:40px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: start !important;
}

.section-skills{
    justify-content:center;
    align-items:center;
    height:100vh;
    grid-auto-flow: column;
    display:grid;
    gap:10px;
    background-color:var(--bg-color);
    gap:10px;
}
.skills-card{
    width:90%;
    background-color:var(--second-bg-color);
    border-radius: 10px;
    text-align:center;
    box-shadow:0px 0px 1px 1px  #fff;
    border-width: 2px ;
    border-top-color:var(--primary-color);
    margin:10px;
    animation: image-Ani 1s ease 1s 1 1 forwards;
} 
.icon{
    font-size:70px;
    color: var(--primary-color);
}
.box-icon{
    width:60px;
    height:60px;
    border-color:var(--primary-color);
}
.sub-card{
    width:120px;
    height:120px;
    background-color:var(--second-bg-color);
    border-radius: 10px;
    text-align:center;
    box-shadow:0px 0px 1px 1px  #fff;
    border-width: 2px ;
    border-top-color:var(--primary-color);
    margin:10px;
}

.section-education{
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow: hidden;
    display:grid inline-block;
    grid-auto-flow:column;
    gap:10px;
    background-color:var(--second-bg-color);
}
.graduation{
    width:100%;
    background-size:cover;
    background-color:#5468b5;
    border-radius: 10px;
    padding:10px;
    margin-top:20px;
}
.edu-img{
    width:100%;
}
.edu-button{
    width:120px;
    height:40px;
    border-color:var(--bg-color);
    border-radius: 10px;
    text-align:center;
    border-style:solid;
    border-width: 2px ;
    color:var(--bg-color) !important;
    font-weight: 600;
    font-size:16px;
    background-color:transparent;
    animation: ani-top 1 ease-in  1 ;animation: SocialAni 1s ease forwards;
        animation-delay: calc(.2s * var(--socialAni));

}
@media only screen and (max-width: 800px) {
    .home-image {
      width:250px;
      height:250px;
      margin-top:40px;
      border-radius:100%;
    }
    .card-title{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .card-name{
        font-size: 3.6rem;
        font-weight: 600;
    }
    .social a{
        gap: 0.7rem;
        font-size: 2.4rem;
    }
    .button{
        font-size: 1.2rem;
        padding: 0.8rem 1.6rem;
    }
    p{
        font-size: 1.2rem;
    }
    .about-image{
        width:180px;
        align-items:center;
        display:flex;
        justify-items:center;
    }
  }
>>>>>>> 912975d8ab4a31a54251594e9adc2333612bc519
